/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-May-2014, 12:05:56
    Author     : Stephen
*/
body {
text-align: center;
margin-left: auto; 
margin-right:auto; 
}
